@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca&display=swap');
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    body{
        background-color: hsl(233, 47%, 7%);
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        display: flex;
        justify-content: center;
        height: 97vh;
        align-items: center;
        flex-direction: column;
    }

    .mail-card-wrapper{
        width: 60%;
        height: 60%;
        display: flex;
        background-color: hsl(244, 38%, 16%);
    }
    .mail-card-wrapper .image-container{
        width: 45%;
        position: relative;
    }
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: hsl(277deg 64% 61% / 50%);
    }
    .mail-card-wrapper .image-container img{
        width: 100%;
        height: 100%;
    }

    .m-3{
        margin: 3rem;
    }
    .mt-1{
        margin-top: 1rem;
    }
    .mb-1{
        margin-bottom: 1rem;
    }

    .actual-content{
        width: 60%;
    }
    .actual-content .content-head{
        font-size: 2rem;
        font-family: Inter, sans-serif;
        font-weight: 700;
    }
    .actual-content .content-head .insights{
        color: hsl(277, 64%, 61%);
    }
    .actual-content .content-paragraph{
        font-family: Lexend Deca, sans-serif;
        font-weight: 200;
        font-size: 14px;
        color: hsla(0, 0%, 100%, 0.75);
    }
    .actual-content .stats-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3.5rem;
    }
    .actual-content .stats-container .stats{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .actual-content .stats-container .content-head{
        font-size: 1.6rem;
    }
    .actual-content .stats-container .content-paragraph{
        font-weight: 100;
        font-family: Lexend Deca, sans-serif;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: .8rem;
    }
